
html{
    scroll-behavior: smooth;
}
.skip{
  margin-top: -20px;
}
body{
  background-color: #F0F0F0;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
nav{
  height: 100px;
}
.nav{
  display: inline;
 background-color: #F0F0F0;
 text-align: left;
 align-self: center;
}
nav ul{
  padding: 45px;
  list-style-type: none;
}
nav li{
  display: inline;
  padding-right: 20px;
}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
.nav .current{
border: 2px dashed black;
}
.hide{
  display: none;
}
.heading{
  padding: 15px;
}
header{
  font-size: 50px;
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid black;
}
header h1{
  color: black;
  font-size: 50px;
  text-align: center;
  align-self: center;
  padding: 0px;
}
img{
  display: block;
  margin:auto;
  width: auto;
  max-height: 400px;
  overflow: hidden;
  border: 2px solid black;
  align-content: center;
}
.text-block{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.text-block h1{
  font-size: 22px;
}
.text-block h2{
  font-size: 18px;
}
.title{
  font-size: 18px;
  text-align: center;
}
.title h1{
  font-size: 18px;
}
.title h2{
  font-size: 14px;
}
.title p{
  font-size: 14px;
}
.theback h1{
  font-size: 18px;
}
.theback p{
  font-size: 14px;
}
.container{
  display: inline;
}
footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 0px;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
  .hide{
    display: none;
  }
  .heading{
    padding: 15px;
  }
  header{
    font-size: 50px;
    background-color: rgba(255, 255, 255, .8);
    border: 5px solid black;
  }
  header h1{
    color: black;
    font-size: 50px;
    text-align: center;
    align-self: center;
    padding: 0px;
  }
  img{
    display: block;
    margin:auto;
    width: auto;
    max-height: 400px;
    overflow: hidden;
    border: 2px solid black;
    align-content: center;
  }
  .text-block{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .text-block h1{
    font-size: 22px;
  }
  .text-block h2{
    font-size: 18px;
  }
  .title{
    font-size: 18px;
    text-align: center;
  }
  .title h1{
    font-size: 18px;
  }
  .title h2{
    font-size: 14px;
  }
  .title p{
    font-size: 14px;
  }
  .theback h1{
    font-size: 18px;
  }
  .theback p{
    font-size: 14px;
  }
  .container{
    display: inline;
  }
  footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 0px;
  }

}



@media screen and (min-width: 800px){
.hide{
  display: inline;
}
.text-block{
  font-size: 24px;
  font-weight: bold;
  padding: 25px;
}
.text-block h2{
  font-size: 18px;
}
.title{
  font-size: 20px;
  text-align: center;
}
.title h1{
  font-size: 24px;
}
.title h2{
  font-size: 20px;
}
.title p{
  font-size: 14px;
}
.container{
  display: inline;
}
.maincontainer{
  position: relative;
  display: inline-block;
  width: 25%;
  height: 195px;
  margin: 25px;
}
img{
  width: 100%;
  overflow: hidden;
}
.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.thecard:hover{
  transform: rotateY(180deg);
}
.thecard:focus{
  transform:rotateY(180deg);
}
.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: black;
  color: white;
  border: 5px solid black;
  overflow: hidden;
}
.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, .8);
  color: black;
  transform: rotateY(180deg);
  font-size: 24px;
  align-self: center;
  text-align: center;
  border: 5px solid black;
}
.theback h1{
  font-size: 20px;
  color: black;

}
.theback p{
  font-size: 14px;
  padding: 25px;
}
footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 0px;
}


@media screen and (min-width: 1020px){
  .nav{
     display: inline;
    background-color: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    align-self: center;
  }
.maincontainer{
  position: relative;
  display: inline-block;
  width: 25%;
  height: 245px;
  margin: 25px;
}
img{
  width: 100%;
  overflow: hidden;
}
